body {
background-image:url(background.jpeg);
background-size:cover;
background-attachment:fixed;
}
.table {
	display: none;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-weight: 100;
	border-width: 5px;
	height: 150px;
	width: 150px;
	padding: 10px;
	margin-top: 00px;
	border-collapse: collapse;
	margin-left: 20px;
    background-color: white;
	
}

#canvas1 {
	margin-left:20px;
	 background: #ffffff;
-ms-filter:rogid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
filter: alpha(opacity=50);  /* IE 5-7 */
-moz-opacity: 0.5;          /* Netscape */
-khtml-opacity: 0.5;        /* Safari 1.x */
opacity: 0.9;

}

.form1{
	margin-left: 20px;
	margin-top: 20px;
}

.button1 {
	background: white;
	outline: none;
	height: 35px;
	width: 80px;
	color: black;
	font-size: 18.5px;
	border-radius: 20px;
	margin: 7px;
}

	.button1:hover {
		cursor: pointer;
		background: orange;
		color: #000;
	}
	p{
  color:white;
  font-size:20px;
  font-family: Arail;
  background: #00001a;
-ms-filter:rogid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
filter: alpha(opacity=50);  /* IE 5-7 */
-moz-opacity: 0.5;          /* Netscape */
-khtml-opacity: 0.5;        /* Safari 1.x */
opacity: 0.8;
height:30px;
width: 75px;
border-radius:50;
text-align-last: center;

}